<!DOCTYPE html>
<html>
    <head>
        <title>Layout</title>
        <link rel="stylesheet" href="styles.css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>       
        <div class="grid">
            <header>logo</header>
            <address>
                <div><a href="#"><img src="img/phone_48.png"></a></div>
                <div><a href="#"><img src="img/pin_48.png"></a></div>
                <div><a href="#"><img src="img/sms_48.png"></a></div>
            </address>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">What ISAMA</a></li>
                    <li><a href="#">What we do?</a></li>
                    <li><a href="#">Our Projects</a></li>
                    <li><a href="#">Excellent Team</a></li>
                    <li><a href="#">Contact</a></li>                  
                </ul>
            </nav>
            <section class="find">
                    <div class="icon"><i class="fa fa-search"></i></div>
                    <input type="search" id="search" placeholder="Type your search words">
            </section>
            <main></main>
            <aside class="left">
                <img src="img/lamp.png">
                <div class="text">
                    <h1>Lorem ipsum</h1>  
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                </div>
                </aside>
            <aside class="right">
                <img src="img/tree.jpg">
                <div class="text">
                    <h1>Lorem ipsum</h1>  
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
                </div>
            </aside>
        </div>
    </body>
</html>
