*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .grid{
        display: grid;
        margin: 0 auto;
        max-width: 1024px;

        grid-template-rows: 50px 350px minmax(300px,auto) minmax(300px,auto); 
        grid-template-areas: "nav header header find"                
                             "main main main main"       
                             "aside-left aside-left aside-left aside-left"
                             "aside-right aside-right aside-right aside-right"
                                                  
    }

    .grid > address{
        display: none;
    }
    .grid > header{
        justify-self: center;
    }
    .grid > nav {
        justify-self: center;
    }
    .grid > nav ul{
        position: fixed;
        top: 0;
        bottom: 0;
        width: 300px;
        left: -340px;
        transition: transform .3s
        ease-in-out;
        background: rgb(26, 196, 248);
    
    }
    
    /*.grid > nav a.open{
        margin: auto;
    
        display: block;
        color: rgb(26, 196, 248);
        line-height: 50px;
        font-size: 28px;
        font-weight: bold;
        text-decoration: none;
    }
    .grid > nav a.open:hover{
        background: #ADC0CE;
        color: white;
    }*/

    .grid > nav a.open img{
        widows: 48px;
        height: 48px;
    }


    .grid > nav li{
        margin: 10px;
    }
    
    .grid > nav ul a.toggle{
        display: block;
        height: 30px;
        padding: 10px;
        text-align: center;
        font-size: 28px;
    }

    .grid > nav ul a{
        display: block;
        color: white;
        list-style: none;
        text-decoration: none;
    }

    .grid > nav ul a:hover{
        color: rgb(26, 196, 248);
        background: white;
    }

    .grid > nav #ul:target {
        transform: translateX(340px);   
    }

}



@media screen and (min-width: 1024px) {
    .grid{
        display: grid;
        margin: 0 auto;
        max-width: 1280px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 100px 50px 350px 200px; 
        grid-template-areas: "header header header address"
                             "nav nav nav find"
                             "main main main main"
                             "main main main main"
                             "aside-left aside-left aside-right aside-right"                       
    } 
    
    .grid > address{
        display: block;
    }
    
    .grid > header{
        justify-self: start;
        margin-left: 10%;
    }

    .grid > address{
        grid-area: address;
        justify-self: center;
        align-self: center;
    }
    
    .grid > address img {
        width: 48px;
        height: 48px;
        margin: 0 10px;  
    }
    
    .grid > address div{
        float: left;
    }
    
    .grid address div:nth-child(2) {
        
        border-left: 2px solid gray;
        border-right: 2px solid gray;
    }
    .grid > nav a.toggle{
        display: none;  
    }
    .grid > nav ul{      
        list-style: none; 
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 50px;
        
    }
    .grid > nav li{
        border: 1px solid rgba(209, 206, 206, 0.699);
        border-left: none;
        text-align: center;
    }
    .grid > nav li:last-of-type{
        border-right: none;
        
    }
    
    .grid > nav a{
        display: block;  
        text-decoration: none;
        text-align: center;
        padding: 10%;
        height: 50px;
        color: rgb(26, 196, 248);
        
    }
    
    .grid > nav a:hover {
        background: #ADC0CE;
        color: white;
    }


}

.grid > header{
    grid-area: header;
    align-self: center;
    font-size: 36px;
    font-weight: bold;
    color: rgb(26, 196, 248);
}


.grid > nav{
    grid-area: nav; 
}

.grid > section.find{
    grid-area: find;
    position: relative;
    justify-self: right;
    align-self: center;
}

.grid > section.find input{
    width: 200px;
    height: 30px;
    border: none;
    color: #63717f;
    padding-left: 45px;
}

.grid > section.find .icon{
    position: absolute;
    margin-left: 17px;
    margin-top: 6px;
    z-index: 1;
    color: #4f5b66;      
}

.grid > main{
    grid-area: main;
    background: url(img/fon.jpg)
}
.grid > aside.left{
    grid-area: aside-left;
    padding: 5%;  
}
.grid > aside.right{
    grid-area: aside-right;
    padding: 5%;  
    
}

.grid > aside.left img, .grid > aside.right img{
    width: 200px;
    height: 250px;
    float: left;
}
.grid aside div.text{
    margin-left: 220px;
}
